<?xml version="1.0" encoding="UTF-8" ?>  
 <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.wildMeowth.bookSeats.dao.UserIfoDao">
	<select id="findAdminById" parameterType="string" resultType="cn.wildMeowth.bookSeats.entity.UserIfo">
	    select a.bs_user_id as id,bs_user_name as name, bs_user_password as password,bs_user_token as token, bs_user_title as title from bs_user as a,bs_userinfo as b 
	    where a.bs_user_id=b.bs_user_id and a.bs_user_id=#{id};
	</select>
</mapper>