body {
	background:#f8f8f8;
}
* {
	margin:0px;
	padding:0px;
}
.nav {
	height:40px;
	background:#333;
}
.lunb {
	width:100%;
	background:#ccc;
}
.menu {
	margin-top:10px;
}
.lunb:after,.menu:after {
	content:'';display:block;clear:both;
}
.lunb,.menu {zoom:1;}
.server {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	width:68%;
	height:200px;
	margin:20px auto;
	margin-bottom:10px;
}
.copy {
	width:420px;
	height:60px;
	margin:0px auto;
}
.nav ul {
	margin:0px auto;
	width:1180px;
	height:40px;
}
.nav li {
	margin:6px 0 0 0;
	float:left;
	width:98px;
	list-style-type:none;
	line-height:28px;
	text-align:center;
}
.lunb img {
	width:100%;
}
#imgl1 {
	width:25px;
	height:25px;
}
.nav li a{
	color:#fff;
	font-size:14px;
	text-decoration:none;
}
.menu>div {
	float:left;
	width:25%;
	text-align:center;
}
.menu img{
	width:98%;
}
.show {
	display:inline-block;
}
.hide {
	display:none;
}
.l0,.l1,.l2,.l3{
	position:relative;
}
#log,#pd,#pm,#plus{
	display:none;
	position:absolute;
	
	/* width:200px;
	opacity:0;
	background:#eee;
	transition:all 0.5s ease 0.5s; */
}
#log{
	left:30px;
}
.l1:hover #pd,.l2:hover #pm,.l3:hover #plus{
	display:block;
	width:100%;
	background:#333;

	/* 	min-height:20px;
		opacity:1;
		z-index:10; */
}
#pd a,#pm a,#plus a{
	display:block;
	margin:10px 20px;
	border-bottom:1px solid #ccc;
}
.l0:hover #log{
	display:block;
	width:490px;
	height:229px;
	background:#333;

	z-index:10;
	/* 	min-height:20px;
		opacity:1;
		z-index:10; */
}
#log img{
	width:100%;
}
.copy p{
	font-size:12px;
	color:#999;
	line-height:20px;
	margin:0px auto;
}

.copy a{
	color:#666;
	text-decoration:none;
}
.menu div:hover{
	position:relative;
	left:2px;
	top:2px;
}
.server div{
	float:left;
	width:20%;
	height:100%;
}
.server ul{
	padding-top:30px;
}
.server li{
	list-style-type:none;
	font-size:12px;
	line-height:20px;
}
.server a{
	color:#888;
	text-decoration:none;
}
body{
	position:relative;
}
/* #iframe{
	position:absolute;
	top:40px;
	width:100%;
	height:100%;
	background:#ccc;
	filter:alpha(opacity=50);  
	-moz-opacity:0.5;  
	-khtml-opacity: 0.5;  
	opacity: 0.5;
	display:none;
} */
/* #hidden0 input{
	width:35px;
	height:35px;
	background:#ccc;
	border:0px;
}
#hidden0{
	position:absolute;
	width:15px;
	height:15px;
	top:5px;
	right:30px;
	display:none;
} */

#quit {
	text-decoration:underline;
	color:#fff;
}
#wel a{
	text-decoration:underline;
	color:#fff;
}

