li{
	list-style-type: none;
}
input {
	margin:0 auto 20px auto;
	padding:0;
	height: 30px;
	width: 250px;
	border-radius: 2px;
	border: 3px #f4f4f4 solid;
	font-size: 12px;
	color:black;
	text-align: center;
	background-color: transparent;
}
input:hover{   
	border: 3px #708fbe solid;
}

.container{
    width:1130px;
    margin:0 auto;
}
.div-person-ifo-top{
    font-family: "黑体";
    height: 40px;
    line-height: 40px;
}
.div-person-ifo-container{
    border: 3px #EDEDED solid;
    border-radius: 5px;
    background-color: #fff !important;
}
.div-person-ifo-container div{
    margin: 0 auto;
    font-family: "黑体";
    font-size: 20px;
}
.div-person-notify{
    width:968px;
}
.div-person-notify div{
    margin-top:22px !important;
    width:906px;
    height:48px;
    line-height: 48px;
    border: 2px #eee solid;
    border-radius: 2px;
    padding-left: 58px;
    background: #4B8EF9 url(../images/YES.png) no-repeat 15px center;
    color: #fff;
}
.div-person-input{
    width: 355px;
}
.div-person-btn{
    width: 165px;
}
.div-person-btn button{
    margin-bottom:74px;
    width: 165px;
    height: 38px;
    border: 0px;
    border-radius: 1px;
    background-color:#f00;
    color: #fff;
    font-family: "黑体";
    font-size: 20px;
    cursor: pointer;
}
.div-person-btn button:active{
	margin-left:1px;
}
#old-pwd{
    margin-top: 74px;
}