<?xml version="1.0" encoding="UTF-8" ?>  
 <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.wildMeowth.bookSeats.dao.UserIfoDao2">
	<insert id="saveTitle" parameterType="cn.wildMeowth.bookSeats.entity.UserIfo2">
		insert into bs_userinfo(bs_user_id,bs_user_title)
		values(#{id},#{title});
	</insert>
</mapper>