body {
    height: 10000000px;
    background: -webkit-linear-gradient(right bottom, rgb(38, 199, 99), rgb(0, 138, 255)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right bottom, rgb(38, 199, 99), rgb(0, 138, 255)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right bottom, rgb(38, 199, 99), rgb(0, 138, 255)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right top, rgb(0, 138, 255), rgb(38, 199, 99)); /* ��׼���﷨���������������� */
}
input {
	margin:0 auto;
	padding:0;
	height: 30px;
	width: 250px;
	border-radius: 8px;
	border: 1px solid rgb(180, 180, 180);
	font-size: 12px;
	color:black;
	text-align: center;
	background-color: transparent;
}

.div-input{
	margin-bottom:15px;
}
#btn {
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	background-color: white;
	font-size: 16px;
	color: #fff;
	background-color: #286090;
}
#btn:active{
	margin-left:1px;
}
.font{
	font-family: Microsoft YaHei;
    color: #580206;
}
.h2{
	font-size: 30px;
	font-weight:400;
	padding-bottom:22px;
	margin-bottom:0;
	border-bottom:1px #bbb solid;
}
.h3{
	font-size: 24px;
	font-weight:400;
}

@media screen and (min-width: 720px){
	.content {
	    width: 60%;
	}
}
@media (min-width: 1200px){
	.content {
	    width: 1170px;
	}
}
@media (min-width: 992px){
	.content {
	    width: 970px;
	}
}
@media (min-width: 768px){
	.content {
	    width: 750px;
	}
}
.content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 768px){
	.content .jumbotron, .content-fluid .jumbotron {
	    padding-right: 60px;
	    padding-left: 60px;
	}

	.content .jumbotron, .content-fluid .jumbotron {
	    border-radius: 6px;
	}
}
@media screen and (min-width: 768px){
	.jumbotron {
	    margin: 0;
	    padding: 20px 60px 30px;
	}
}
@media screen and (min-width: 768px){
	.jumbotron {
	    padding: 48px 0;
	}
}
.jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    text-align:center;
}

.header{
	margin:0px auto;
	width:777px;
}
.header-main{
	margin:0px auto;
	margin-top: 30px;
    overflow: hidden;
  	width:500px;
  	height:100px;
  	background: url(../images/logo.png) no-repeat top center;
}

.error{
	color:red;
}
.form-group {
    margin-bottom: 15px;
}
